
<template>
  <div>
    <div v-if="state && state.obj && state.obj.salesman">{{state.obj.salesman}}</div>
    <Search />
    <template v-if="detailData">
      <Player :data="detailData.data[0].dataNode" />
      <Brief :data="detailData.data[1].dataNode" />
      <Recommend :data="detailData.data[2].dataNode" />
    </template>
    <template v-else>
      <img src="https://gw.alicdn.com/tfs/TB1v.zIE7T2gK0jSZPcXXcKkpXa-128-128.gif" class="loading">
    </template>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed, onMounted, reactive } from 'vue'
// import { HttpService } from '@midwayjs/axios';
import { useStore } from 'vuex'
import { useRoute } from "vue-router";
import Player from '@/components/player/index.vue'
import Brief from '@/components/brief/index.vue'
import Recommend from '@/components/recommend/index.vue'
import Search from '@/components/search/index.vue'
import fetch from '@/utils/request'

export default defineComponent({
  components: {
    Player,
    Search,
    Brief,
    Recommend
  },
  setup() {
    const store = useStore();
    const route = useRoute();
    const detailData = computed(()=> {
      return store.state.detailStore?.data
    })
    // const instance= getCurrentInstance();
    // const _this = instance.ctx;
    // console.log('_this');
    const getData = () => {
      const params = {
        data: 'xxx'
      }
      return fetch.post(`/api/detail1/${route.params.id}?ids=${route.params.id}`, params);
      // return (await window.fetch(`/api/detail1/${route.params.id}?ids=${route.params.id}`, {
      //   method: 'post',
      //   body: JSON.stringify(params),
      //   // params: { data: 'xxx' },
      //   headers: {
      //     'x-csrf-token': 'sss',
      //     'token': 'sss',
      //     'Accept': 'application/json',
      //     'Content-Type': 'application/json'
      //   }
      // })).json();
    }
    let state: any = reactive({
      obj: {}
    });

    onMounted(() => {
      getData().then(res => {
        if (res.state) {
          state.obj = res.value;
        }
      });
    })

    return {
      detailData,
      getData,
      state
    };
  }
})
</script>

<style>

</style>
